$brand-color: #428BC6;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


// Personal Color Scheme
$my-red: #CC0000;
$my-blue: #428BC6;
$my-green: #1FAD9F;
